/* Navbar */
.navbar-nav a {
  font-size: 18px;
}

.navbar-nav li {
  font-size: 14px;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
  letter-spacing: 0.7px;
}
.header-contact {
  font-size: 13px;
  letter-spacing: 0.5px;
}
.header-info .header-info-item{
  color: yellow;
}
.corner-notification {
  position: fixed;
  top: 10px; /* Điều chỉnh khoảng cách từ trên xuống */
  right: 10px; /* Điều chỉnh khoảng cách từ phải sang */
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 999; /* Để đảm bảo thông báo luôn hiển thị trên cùng */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.corner-notification.show {
  opacity: 1;
}


.item-name {
  min-height: 3em;
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* Hiển thị tooltip khi hover vào */
  position: relative;
}

.item-name:hover::before {
  content: attr(title);
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 0.5em;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 1;
}

.item-name:hover {
  opacity: 1;
  color: #FFCC00;
}
.hover-pointer:hover {
  cursor: pointer; /* Chuyển trỏ chuột thành bàn tay khi hover */
}
.sort-pointer:hover{
  cursor: pointer;
}

.li-hover:hover{
  color: #FFCC00;
}



